<html>
    <head>
        <title>Say Hello!</title>
        <style>
            body {
                background-color: black;
            }
        </style>
    </head>    
    <body>


    <!--below borrowed from gothonweb-old picture.html-->
    <!--<img src="https://images.squarespace-cdn.com/content/v1/5233347fe4b00c95cda9e5d6/1397484677140-7QLMAPL16PHQEUG78XWW/image-asset.jpeg" alt="Alien Killer">-->
    <!--ALTERNATIVELY-->
    <!--<img src="./gothonweb/images/aliens.jpeg" alt="Hi Ripley">-->
    <!--IDK why I can't use local files on these web pages-->

    
    </body> 
    </html>
